/**
 * Styles specific to this block
 */

.wp-block-paragraph {

	/* CASE: Style Large */
	&.is-style-large {

		@mixin t-body-large;
	}

	/* CASE: Style Small */
	&.is-style-small {

		@mixin t-body-small;
	}
}
