/**
 * Styles specific to this block
 */

.wp-block-details {

	/**
	 * Summary elements shouldn't contain text markup, but for some
	 * reason WP allows this markup within the summary text if you
	 * copy & paste it into the summary element. We should try to
	 * avoid this pattern, but since it's possible, we need to support
	 * it. This only applies to links within the summary element.
	 */
	summary {

		a {

			@mixin inline-text-link;
		}
	}
}
