/* -------------------------------------------------------------------------
 *
 * Block - Image Card - Mixins
 *
 * ------------------------------------------------------------------------- */

@define-mixin image-card-hover-focus {
	background-color: var(--image-card-hover-background-color);

	.b-image-card__media img {
		transform: scale(1.05);
	}

	.b-image-card__title {

		@mixin t-animated-underline-hover;
	}

	.a-btn-ghost {

		@mixin a-btn-hover-focus;
		@mixin a-btn-ghost-hover-focus;
	}
}
