/* -------------------------------------------------------------------------
 *
 * Block - Image Card - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--image-card-content-border-color: var(--color-neutral-30);
	--image-card-hover-background-color: var(--color-neutral-10);
}

:--light-theme {
	--image-card-content-border-color: var(--color-neutral-30);
	--image-card-hover-background-color: var(--color-white);
}

:--dark-themes {
	--image-card-content-border-color: var(--color-neutral-70);
	--image-card-hover-background-color: var(--color-neutral-80);
}

:--brand-theme {
	--image-card-content-border-color: var(--color-dark-blue);
	--image-card-hover-background-color: var(--color-dark-blue);
}
