/* -------------------------------------------------------------------------
 *
 * Block - Image Card - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-image-card,
.wp-block-tribe-image-card > div {
	height: 100%;
}

/* don't display the link overlay in the editor */
.b-image-card__link-overlay {
	display: none !important;
}
