/* -------------------------------------------------------------------------
 *
 * Block - Image Card - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

section.wp-block-tribe-image-card {
	border: 1px dotted #f00;
}
