/* -------------------------------------------------------------------------
 *
 * Block - Image Card - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-image-card {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
