/**
 * Styles specific to this block
 */

.wp-block-pullquote {

	> blockquote {
		margin: 0;
	}

	> blockquote p {
		margin: 0;
		font-size: var(--wp--preset--font-size--50);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: 1.2;
	}
}
