/**
 * Styles specific to this block
 */

.wp-block-pullquote {

	/* typography settings for the paragraph within the pullquote
	   block don't seem to be working, for now, set them here */
	> blockquote p {
		font-size: var(--wp--preset--font-size--50);
		font-weight: var(--wp--custom--font-weight--bold);
		line-height: 1.2;
	}
}
