/* -------------------------------------------------------------------------
 *
 * Block - Pullquote - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-pullquote {

	/* typography settings for the paragraph within the pullquote
	   block don't seem to be working, for now, set them here */
	> blockquote p {
		font-size: var(--font-size-50);
		font-weight: var(--font-weight-bold);
		line-height: 1.2;
	}
}
