/* -------------------------------------------------------------------------
 *
 * Block - Masthead Search - Editor Styles
 *
 * ------------------------------------------------------------------------- */

.global-search__icon {
	pointer-events: none;
}
