/* -------------------------------------------------------------------------
 *
 * Header - Mobile Menu Toggle Editor Styles
 *
 * ------------------------------------------------------------------------- */

.global-search__icon {
	pointer-events: none;
}
