/* -------------------------------------------------------------------------
 *
 * Header - Mobile Menu Toggle Editor Styles
 *
 * ------------------------------------------------------------------------- */

.c-menu-toggle {
	display: block !important; /* always show hamburger in editor */
	pointer-events: none;
}
