/* -------------------------------------------------------------------------
 *
 * Block - Menu Toggle - Styles - Editor
 *
 * ------------------------------------------------------------------------- */

.c-menu-toggle {
	display: block !important; /* always show hamburger in editor */
	pointer-events: none;
}
