/* -------------------------------------------------------------------------
 *
 * PostCSS Custom Media
 *
 * Implemented via `postcss-preset-env`
 * https://github.com/csstools/postcss-plugins/tree/main/plugins/postcss-custom-media
 *
 * ------------------------------------------------------------------------- */

@custom-media --mq-mobile (min-width: 320px);
@custom-media --mq-tablet (min-width: 782px);
@custom-media --mq-navigation-max (max-width: 959px);
@custom-media --mq-navigation (min-width: 960px);
@custom-media --mq-desktop (min-width: 992px);
@custom-media --mq-large (min-width: 1280px);
@custom-media --mq-max (min-width: 1920px);

/* -------------------------------------------------------------------------
 * Page State Media Queries
 *
 * Hover media query:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
 * - used to apply styles when the device accepts hover effects
 * ------------------------------------------------------------------------- */

@custom-media --has-hover (hover: hover);

/* -------------------------------------------------------------------------
 * WP Breakpoints
 * https://github.com/WordPress/gutenberg/blob/trunk/packages/base-styles/_breakpoints.scss
 * ------------------------------------------------------------------------- */

@custom-media --mq-wp-mobile-max (max-width: 600px);
@custom-media --mq-wp-small (min-width: 601px);
@custom-media --mq-wp-small-max (max-width: 781px);
@custom-media --mq-wp-adminbar (min-width: 782px);
