/* -------------------------------------------------------------------------
 *
 * Layout Helpers
 *
 * ------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------
 * Clearfix
 * Uses clear attribute to clear floats on elements
 * ----------------------------------------------------------------------- */

.l-clearfix::after {
	content: "";
	display: table;
	clear: both;
}
