/* -------------------------------------------------------------------------
 *
 * Layout Helpers
 *
 * ------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------
 * Clearfix
 * Uses clear attribute to clear floats on elements
 * ----------------------------------------------------------------------- */

.l-clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* -----------------------------------------------------------------------
 * Flex
 * Simple flexbox helper to align items center with a gap
 * ----------------------------------------------------------------------- */

.l-flex {
	display: flex;
	align-items: center;
	gap: var(--spacer-30);
}
