/* -------------------------------------------------------------------------
 *
 * Layouts
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 *
 * Editor Fixes
 *
 * ------------------------------------------------------------------------- */

/*
 * Previously to this change, adding a full width pattern to the bottom
 * of a page would force the user to have to use "Insert After" functions
 * to add a block below.
 * This adds space for clicking at the bottom of the
 * .editor-styles-wrapper element and only appears in the admin editor.
 */
:is(.editor-styles-wrapper) {
	padding-bottom: 40dvh;
}
