/**
 * Styles specific to this block
 */

.wp-block-button__link {

	.wp-block-button:not(.is-style-outlined, .is-style-ghost) & {

		@mixin a-btn;
	}

	.wp-block-button.is-style-outlined & {

		@mixin a-btn-outlined;
	}

	.wp-block-button.is-style-ghost & {

		@mixin a-btn-ghost;
	}
}
