/* -------------------------------------------------------------------------
 *
 * Block - Post Author Name - Mixins
 *
 * ------------------------------------------------------------------------- */

@define-mixin post-author-name-hover-focus {
	color: var(--post-author-name-link-hover-color);
}
