/* -------------------------------------------------------------------------
 *
 * Block - Post Author Name - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--post-author-name-before-color: var(--color-black);
	--post-author-name-link-color: var(--color-black);
	--post-author-name-link-hover-color: var(--color-neutral-80);
}

:--dark-themes {
	--post-author-name-before-color: var(--color-white);
	--post-author-name-link-color: var(--color-white);
	--post-author-name-link-hover-color: var(--color-neutral-10);
}
