/* -------------------------------------------------------------------------
 *
 * Block - Alert - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-alerts {
	border: 1px dotted #f00;
}
