/* -------------------------------------------------------------------------
 *
 * Block - Alert - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-alerts {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
