/* -------------------------------------------------------------------------
 *
 * Block - Image - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-image {

	@mixin media-block-shared-alignment;
}
