/**
 * Styles specific to this block
 */

.wp-block-image {

	@mixin media-block-shared-alignment;

	.wp-element-caption {
		margin-bottom: 0;
		text-align: left;
	}

	&.is-full-width {
		width: 100%;

		& img {
			width: 100%;
		}
	}
}
