/* -----------------------------------------------------------------------
 * Copyright Block
 * ----------------------------------------------------------------------- */

.wp-block-tribe-copyright {}
