/* -------------------------------------------------------------------------
 *
 * Block - Announcements - Mixins
 *
 * ------------------------------------------------------------------------- */

@define-mixin announcement-dismiss-hover-focus {

	.b-announcement__dismiss-text {

		@mixin t-animated-underline-hover;
	}
}
