/* -------------------------------------------------------------------------
 *
 * Block - Announcements - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.b-announcement {
	display: flex;
}
