/* -------------------------------------------------------------------------
 *
 * Block - announcements - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */
