@mixin btn-reset {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  &[disabled] {
    cursor: default;
    pointer-events: none;
    text-shadow: none;
  }

  /* stylelint-disable */
  &:focus {
    outline: none;
  }
  /* stylelint-enable */
}
