@mixin custom-bullet-list-item {
  padding-left: 2rem;
  text-indent: -1.9rem;

  &:before {
    display: inline-block;
    width: 1.1rem;
    height: 1rem;
    margin-right: 0.8rem;
    background-image: url(icon-bullet-point(currentColor));
    background-repeat: no-repeat;
    background-size: 1.1rem 0.9rem;
    content: '';

    @include media-breakpoint-up(md) {
      height: 1.3rem;
    }
  }
}

@mixin custom-bullet-list {
  list-style: none;

  li {
    @include custom-bullet-list-item;
  }
}
