@import './transition';

@mixin transition-fade($duration: 1s) {
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    transition: transition(opacity, $duration);

    &.lazyloaded {
      opacity: 1;
    }
  }
}
