/* -----------------------------------------------------------------------------
 *
 * PostCSS Custom Selectors
 *
 * Implemented via `postcss-preset-env`
 * https://github.com/csstools/postcss-plugins/tree/main/plugins/postcss-custom-selectors
 *
 * ----------------------------------------------------------------------------- */

/**
 * All heading levels
 */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
