/* -------------------------------------------------------------------------
 *
 * Mixins: Global
 *
 * Limit mixins as much as possible to reduce global CSS size.
 *
 * ------------------------------------------------------------------------- */

@define-mixin focus-visible {
	outline: var(--color-focus-contrast-light) auto 3px;
}
