/* -------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------
	 * Focus
	 * ----------------------------------------------------------------------- */

	--color-focus-contrast-light: var(--color-black); /* outer border */
	--color-focus-contrast-dark: var(--color-white); /* inner border */

	/* -----------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------- */

	--border-radius-s: 4px;
	--border-radius-m: 8px;
	--border-radius-l: 16px;
	--border-radius-full: 9999px;
}
