/* -------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------- */

	--border-radius-s: 4px;
	--border-radius-m: 8px;
	--border-radius-l: 16px;
	--border-radius-full: 9999px;

}
