/* -------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------- */

	--border-radius-s: 4px;
	--border-radius-m: 8px;
	--border-radius-l: 16px;
	--border-radius-full: 9999px;

	/* -----------------------------------------------------------------------
	 * Border Color
	 * ----------------------------------------------------------------------- */

	--border-primary: var(--color-black);

}

/* Dark Mode Border Override */
.is-style-dark {
	--border-primary: var(--color-white);
}
