.wp-block-spacer {

	&.is-style-xx-small {
		height: var(--spacer-10) !important;
	}

	&.is-style-x-small {
		height: var(--spacer-20) !important;
	}

	&.is-style-small {
		height: var(--spacer-30) !important;
	}

	&.is-style-medium {
		height: var(--spacer-40) !important;
	}

	&.is-style-large {
		height: var(--spacer-50) !important;
	}

	&.is-style-x-large {
		height: var(--spacer-60) !important;
	}

	&.is-style-xx-large {
		height: var(--spacer-70) !important;
	}
}
