.is-style-brand {
	--theme-color: var(--color-white);
	--theme-color-secondary: var(--color-neutral-20);
	--theme-background: var(--color-blue);

	--theme--button--border-color: transparent;
	--theme--button--background-color: var(--color-white);
	--theme--button--color: var(--color-black);
	--theme--button--hover--border-color: transparent;
	--theme--button--hover--background-color: var(--color-neutral-20);
	--theme--button--hover--color: var(--color-black);

	--theme--button--outlined--border-color: var(--color-white);
	--theme--button--outlined--background-color: transparent;
	--theme--button--outlined--color: var(--color-white);
	--theme--button--outlined--hover--background-color: var(--color-white);
	--theme--button--outlined--hover--color: var(--color-black);

	--theme--button--ghost--background-color: transparent;
	--theme--button--ghost--color: var(--color-white);
	--theme--button--ghost--hover--color: var(--color-neutral-20);

	--theme--details--border-color: var(--color-white);
}
