.is-style-dark {
	--theme--color: var(--color-white);
	--theme--color--secondary: var(--color-neutral-20);
	--theme--background-color: var(--color-black);

	--theme--button--border-color: transparent;
	--theme--button--background-color: var(--color-white);
	--theme--button--color: var(--color-black);
	--theme--button--hover--border-color: transparent;
	--theme--button--hover--background-color: var(--color-neutral-20);
	--theme--button--hover--color: var(--color-black);

	--theme--button--outlined--border-color: var(--color-white);
	--theme--button--outlined--background-color: transparent;
	--theme--button--outlined--color: var(--color-white);
	--theme--button--outlined--hover--background-color: var(--color-white);
	--theme--button--outlined--hover--color: var(--color-black);

	--theme--button--ghost--background-color: transparent;
	--theme--button--ghost--color: var(--color-white);
	--theme--button--ghost--hover--color: var(--color-neutral-20);

	--theme--link--color: var(--color-white);
	--theme--link--hover--color: var(--color-blue);

	--theme--focus-visible--light: var(--color-white);
	--theme--focus-visible--dark: var(--color-black);

	--theme--category--color: var(--color-white);
	--theme--category--hover--color: var(--color-white);
	--theme--tag--background-color: var(--color-white);
	--theme--tag--color: var(--color-black);
	--theme--tag--hover--background-color: var(--color-neutral-10);
	--theme--tag--hover--color: var(--color-black);

	--theme--post-author-name--color: var(--color-white);
	--theme--post-author-name--hover--color: var(--color-neutral-20);

	--theme--pagination--color: var(--color-white);
	--theme--pagination--hover--background-color: var(--color-neutral-80);
	--theme--pagination--current--background-color: var(--color-blue);
	--theme--pagination--current--color: var(--color-white);
	--theme--pagination--nav--color: var(--color-white);
	--theme--pagination--nav--hover--color: var(--color-neutral-20);
	--theme--pagination--nav-arrow--color: var(--color-white);
	--theme--pagination--nav-arrow--hover--color: var(--color-neutral-20);

	--theme--search--background-color: var(--color-white);
	--theme--search--border-color: var(--color-neutral-80);
	--theme--search--focus--border-color: var(--color-white);
	--theme--search--button--color: var(--color-neutral-50);
	--theme--search--input--color: var(--color-black);
	--theme--search--input--placeholder--color: var(--color-neutral-50);

	--theme--details--border-color: var(--color-white);

	--theme--search-card--border-top-color: var(--color-white);
	--theme--search-card--permalink-color: var(--color-white);
}
