.is-style-light {
	--theme--color: var(--color-black);
	--theme--color--secondary: var(--color-neutral-50);
	--theme--background-color: var(--color-white);

	--theme--button--border-color: transparent;
	--theme--button--background-color: var(--color-blue);
	--theme--button--color: var(--color-white);
	--theme--button--hover--border-color: transparent;
	--theme--button--hover--background-color: var(--color-dark-blue);
	--theme--button--hover--color: var(--color-white);

	--theme--button--outlined--border-color: var(--color-black);
	--theme--button--outlined--background-color: transparent;
	--theme--button--outlined--color: var(--color-black);
	--theme--button--outlined--hover--background-color: var(--color-black);
	--theme--button--outlined--hover--color: var(--color-white);

	--theme--button--ghost--background-color: transparent;
	--theme--button--ghost--color: var(--color-blue);
	--theme--button--ghost--hover--color: var(--color-dark-blue);

	--theme--details--border-color: var(--color-black);
}
