/* -------------------------------------------------------------------------
 *
 * Mixins: Actions
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Inline Text Links
 * ------------------------------------------------------------------------- */

@define-mixin inline-text-link {
	transition: var(--transition);
	color: var(--themed-link-text-color);
	font-weight: var(--font-weight-bold);
	cursor: pointer;
	text-decoration: underline 0.0938rem;
	text-underline-offset: 4px;

	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--themed-link-hover-text-color);
		text-decoration-color: currentcolor;
	}
}
