/* -------------------------------------------------------------------------
 *
 * Action Helpers
 *
 * Helper classes for action elements
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Link Cover
 * ------------------------------------------------------------------------- */

.a-link-cover {

	@mixin a-link-cover;
}

/* -------------------------------------------------------------------------
 * Hidden Link Cover
 * ------------------------------------------------------------------------- */

.a-hidden-link-cover {

	@mixin a-hidden-link-cover;
}
