/* -------------------------------------------------------------------------
 *
 * Action Utilities
 *
 * ------------------------------------------------------------------------- */

.u-button-reset {

	@mixin button-reset;
}

.u-outlined-button-reset {

	@mixin outlined-button-reset;
}

.u-ghost-button-reset {

	@mixin ghost-button-reset;
}
