/* -------------------------------------------------------------------------
 *
 * Utilities: Actions
 *
 * ------------------------------------------------------------------------- */

.a-btn {

	@mixin a-btn;
}

.a-btn--outlined {

	@mixin a-btn-outlined;
}
