/* -------------------------------------------------------------------------
 *
 * Variables: Actions
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {

	/* -----------------------------------------------------------------------
	 * Themed Color Properties
	 * ----------------------------------------------------------------------- */

	--btn-background-color: var(--color-blue);
	--btn-color: var(--color-white);
	--btn-arrow-color: var(--color-white);
	--btn-hover-background-color: var(--color-black);

	--outlined-btn-background-color: transparent;
	--outlined-btn-border-color: var(--color-black);
	--outlined-btn-color: var(--color-black);
	--outlined-btn-arrow-color: var(--color-black);
	--outlined-btn-hover-background-color: var(--color-black);
	--outlined-btn-hover-color: var(--color-white);
	--outlined-btn-hover-arrow-color: var(--color-white);

	--ghost-btn-color: var(--color-blue);
	--ghost-btn-arrow-color: var(--color-blue);
	--ghost-btn-hover-background-color: transparent;
	--ghost-btn-hover-color: var(--color-black);
	--ghost-btn-hover-arrow-color: var(--color-black);

	--link-color: var(--color-blue);
	--link-hover-color: var(--color-black);

	/* -----------------------------------------------------------------------
	 * Focus
	 * ----------------------------------------------------------------------- */

	--focus-contrast-light: var(--color-black); /* outer border */
	--focus-contrast-dark: var(--color-white); /* inner border */
}

/* -------------------------------------------------------------------------
 *
 * Color Theme: Dark
 *
 * ------------------------------------------------------------------------- */

:--dark-themes {

	/* -----------------------------------------------------------------------
	 * Themed Color Properties
	 * ----------------------------------------------------------------------- */

	--btn-background-color: var(--color-white);
	--btn-color: var(--color-black);
	--btn-arrow-color: var(--color-black);
	--btn-hover-background-color: var(--color-white);

	--outlined-btn-background-color: transparent;
	--outlined-btn-border-color: var(--color-white);
	--outlined-btn-color: var(--color-white);
	--outlined-btn-arrow-color: var(--color-white);
	--outlined-btn-hover-background-color: var(--color-white);
	--outlined-btn-hover-color: var(--color-black);
	--outlined-btn-hover-arrow-color: var(--color-black);

	--ghost-btn-color: var(--color-white);
	--ghost-btn-arrow-color: var(--color-white);
	--ghost-btn-hover-background-color: transparent;
	--ghost-btn-hover-color: var(--color-white);
	--ghost-btn-hover-arrow-color: var(--color-white);

	--link-color: var(--color-white);
	--link-hover-color: var(--color-white);

	/* -----------------------------------------------------------------------
	 * Focus
	 * ----------------------------------------------------------------------- */

	--focus-contrast-light: var(--color-white); /* outer border */
	--focus-contrast-dark: var(--color-black); /* inner border */
}

/* -------------------------------------------------------------------------
 *
 * Color Theme: Brand
 *
 * ------------------------------------------------------------------------- */

:--brand-theme {

	/* -----------------------------------------------------------------------
	 * Focus
	 * ----------------------------------------------------------------------- */

	--focus-contrast-light: var(--color-white); /* outer border */
	--focus-contrast-dark: var(--color-blue); /* inner border */
}
