/* -------------------------------------------------------------------------
 *
 * Variables: Actions
 *
 * ------------------------------------------------------------------------- */

/* @TODO: Add documentation on setting up theming to properly utilize */

:root {

	/* -----------------------------------------------------------------------
	 * Themed Color Properties
	 * ----------------------------------------------------------------------- */

	--themed-link-text-color: var(--color-black);
	--themed-link-hover-text-color: var(--color-royal-blue);
}

/* -------------------------------------------------------------------------
 *
 * Color Theme: Dark
 *
 * ------------------------------------------------------------------------- */

.has-jacksons-purple-background-color {
	--themed-link-text-color: var(--color-white);
	--themed-link-hover-text-color: var(--color-royal-blue);
}
