/* -------------------------------------------------------------------------
 *
 * Variables: Cards
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------
	 * General Cards
	 * ----------------------------------------------------------------------- */

	--cards-query-interior-padding: var(--spacer-50);
}

:root,
:--light-themes {

	/* -----------------------------------------------------------------------
	 * Search Results Card
	 * ----------------------------------------------------------------------- */

	--search-results-card-border-color: var(--color-black);
	--search-results-card-visible-permalink-color: var(--color-blue);
}

:--dark-themes {

	/* -----------------------------------------------------------------------
	 * Search Results Card
	 * ----------------------------------------------------------------------- */

	--search-results-card-border-color: var(--color-white);
	--search-results-card-visible-permalink-color: var(--color-white);
}
