/* -------------------------------------------------------------------------
 *
 * Post Card
 *
 * ------------------------------------------------------------------------- */

.c-post-card {
	position: relative;
	container: postcard / inline-size;

	&.c-post-card__layout-horizontal {
		border-top: 1px solid var(--border-border-primary, #000);
		padding-top: var(--cards-query-interior-padding, 40px);
	}

	/* Dynamic borders for middle and last items, as controlled by JavaScript in theme/post-cards.js */
	&.c-post-card__column-end {
		border-bottom: 1px solid var(--border-border-primary, #000);
		padding-bottom: var(--spacer-20);
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Inner
 * ----------------------------------------------------------------------- */

.c-post-card__inner {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-20);

	.c-post-card__layout-horizontal & {
		flex-direction: row-reverse;
		align-items: center;
		gap: var(--spacer-30);
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Image
 * Floated right in mobile widths (at this width, it matches the
 * search result post card)
 * ----------------------------------------------------------------------- */

.c-post-card__image {
	overflow: hidden;

	& img {
		transition: var(--transition);

		.c-post-card:hover &,
		.c-post-card:focus-within & {
			transform: scale(1.05);
		}
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Content
 * ----------------------------------------------------------------------- */

.c-post-card__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-10);
}

/* -----------------------------------------------------------------------
 * Post Card - Primary Category
 * ----------------------------------------------------------------------- */

.c-post-card__primary-category {
	margin-top: 0 !important;
}

/* -----------------------------------------------------------------------
 * Post Card - Title
 * ----------------------------------------------------------------------- */

.c-post-card__title {
	margin-top: 0 !important;

	.c-post-card:hover &,
	.c-post-card:focus-within & {

		@mixin t-transparent-underline-hover;
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Metadata
 * ----------------------------------------------------------------------- */

.c-post-card__metadata {
	display: flex;
	flex-wrap: wrap;
	gap: 0 8px;
	margin-top: 0 !important;
	font-size: 0;
	line-height: 1;
}

/* -----------------------------------------------------------------------
 * Post Card - Link Overlay
 * ----------------------------------------------------------------------- */

.c-post-card__link-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;

	&:focus-visible {

		@mixin focus-visible;
	}

	.editor-styles-wrapper & {
		display: none;
	}
}
