/* -------------------------------------------------------------------------
 *
 * Post Card
 *
 * ------------------------------------------------------------------------- */

.c-post-card {
	position: relative;
	container: postcard / inline-size;
}

/* -----------------------------------------------------------------------
 * Post Card - Inner
 * ----------------------------------------------------------------------- */

.c-post-card__inner {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-20);
}

/* -----------------------------------------------------------------------
 * Post Card - Image
 * Floated right in mobile widths (at this width, it matches the
 * search result post card)
 * ----------------------------------------------------------------------- */

.c-post-card__image {
	overflow: hidden;

	& img {
		transition: var(--transition);

		.c-post-card:hover &,
		.c-post-card:focus-within & {
			transform: scale(1.05);
		}
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Content
 * ----------------------------------------------------------------------- */

.c-post-card__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-10);
}

/* -----------------------------------------------------------------------
 * Post Card - Primary Category
 * ----------------------------------------------------------------------- */

.c-post-card__primary-category {
	margin-top: 0 !important;
}

/* -----------------------------------------------------------------------
 * Post Card - Title
 * ----------------------------------------------------------------------- */

.c-post-card__title {
	margin-top: 0 !important;
	text-decoration-line: underline;
	text-decoration-thickness: from-font;
	text-decoration-color: transparent;
	text-underline-offset: 3px;
	transition: var(--transition);

	.c-post-card:hover &,
	.c-post-card:focus-within & {
		text-decoration-color: currentcolor;
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Metadata
 * ----------------------------------------------------------------------- */

.c-post-card__metadata {
	display: flex;
	flex-wrap: wrap;
	gap: 0 8px;
	margin-top: 0 !important;
	color: var(--color-neutral-50);
	font-size: 0;
	line-height: 1;

	.is-style-dark & {
		color: var(--color-neutral-10);
	}
}

/* -----------------------------------------------------------------------
 * Post Card - Link Overlay
 * ----------------------------------------------------------------------- */

.c-post-card__link-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;

	&:focus-visible {

		@mixin focus-visible;
	}

	.editor-styles-wrapper & {
		display: none;
	}
}
