/* -------------------------------------------------------------------------
 *
 * Block - Icon Card - Mixins
 *
 * Because we want to be able to apply the same styles on both hover and
 * focus-within, we use a mixin to avoid code duplication.
 *
 * ------------------------------------------------------------------------- */

@define-mixin icon-card-hover-focus {
	background-color: var(--icon-card-hover-background-color);

	.b-icon-card__title {
		text-decoration-color: currentcolor;
	}
}
