/* -------------------------------------------------------------------------
 *
 * Block - Icon Card - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-icon-card,
.wp-block-tribe-icon-card > div {
	height: 100%;
}

/* don't display the link overlay in the editor */
.b-icon-card__link-overlay {
	display: none !important;
}
