/**
 * EXAMPLE BLOCK - Editor Styles
 *
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.b-tribe-example {
	outline: 1px dotted #f00;
}
