/* -------------------------------------------------------------------------
 *
 * Block - announcement Renderer - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-announcement-renderer {
	display: none;
}
