/**
 * The following styles get applied both on the front and in the editor.
 */

/* -----------------------------------------------------------------------
 * Rating Stars Block
 * ----------------------------------------------------------------------- */
.wp-block-tribe-rating-stars {

	.stars-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		width: var(--rating-stars--size);
		max-width: 100%;
	}
}
