/* -------------------------------------------------------------------------
 *
 * Block - Video - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-video {

	@mixin media-block-shared-alignment;

	/* Ensure video poster image matches the size of the video frame */
	& [poster] {
		aspect-ratio: 16/9;
	}
}
