/**
 * Styles specific to this block
 */

.wp-block-video {

	@mixin media-block-shared-alignment;

	.wp-element-caption {
		margin-bottom: 0;
		text-align: left;
	}

	/* Ensure video poster image matches the size of the video frame */
	& [poster] {
		aspect-ratio: 16/9;
	}
}
