/* -------------------------------------------------------------------------
 *
 * Block - {{title}} - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

{{#isDynamicVariant}}.b-{{slug}}{{/isDynamicVariant}}{{#isStaticVariant}}.wp-block-{{namespace}}-{{slug}}{{/isStaticVariant}} {
	border: 1px dotted #f00;
}
