/* -------------------------------------------------------------------------
 *
 * Block - {{title}} - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

{{#isDynamicVariant}}section{{/isDynamicVariant}}.wp-block-{{namespace}}-{{slug}} {
	border: 1px dotted #f00;
}
