/* -------------------------------------------------------------------------
 *
 * Block - {{title}} - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

{{#isDynamicVariant}}.b-{{slug}}{{/isDynamicVariant}}{{#isStaticVariant}}.wp-block-{{namespace}}-{{slug}}{{/isStaticVariant}} {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
