/* -------------------------------------------------------------------------
 *
 * Block - Tribe Navigation Wrapper - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-navigation-wrapper {
	align-self: center;

	/* Adjust position when wrapping the utility menu */
	&:has(.site-header__utility-menu) {

		@media (--mq-navigation) {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}
