/* -------------------------------------------------------------------------
 *
 * Block - Custom Query Loop - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

ul.wp-block-tribe-custom-query-loop {

	.a-link-cover {
		display: none;
	}
}
