/* -------------------------------------------------------------------------
 *
 * Block - Mega Navigation Menu - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-mega-menu-item {
	background-color: var(--color-white);

	.site-header__mega-menu-item-wrapper {
		position: relative !important;
		display: block;

		.site-header__navigation & {
			display: none !important;
		}
	}
}
