/* -------------------------------------------------------------------------
 *
 * Block - Heading - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-heading {

	/* CASE: Has Balanced Text */
	&.has-balanced-text {
		text-wrap: balance !important;
	}

	/* CASE: Has Hanging Punctuation */
	&.has-hanging-punctuation {
		text-indent: -0.46em;
	}
}
