/* -------------------------------------------------------------------------
 *
 * Block - Gallery - FE / Editor Styles
 *
 * ------------------------------------------------------------------------- */

.wp-block-gallery {

	&.has-nested-images {

		figure.wp-block-image {
			flex-grow: 0;
		}
	}
}
