/* -------------------------------------------------------------------------
 *
 * Variables: Transitions
 *
 * ------------------------------------------------------------------------- */

:root {

	/* ---------------------------------------------------------------------
	 * Transitions
	 * --------------------------------------------------------------------- */

	--transition: all 0.15s ease-in-out;

	/* ---------------------------------------------------------------------
	 * Easing Functions
	 * --------------------------------------------------------------------- */

	--easing--ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
	--easing--ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
	--easing--ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
	--easing--ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
	--easing--ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
	--easing--ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
