/* -------------------------------------------------------------------------
 *
 * Block - Tribe Navigation Link - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-navigation-link {
	text-decoration-color: transparent;
	transition: var(--transition);
	color: var(--color-text);
	display: block;

	&:hover,
	&:focus {
		text-decoration-color: currentcolor;
	}

	&:focus-visible {
		outline: 2px solid var(--masthead-navigation-accent-color);
	}

	.site-header__utility-menu & {
		font-size: 14px;
	}
}
