/* -------------------------------------------------------------------------
 *
 * Mixins: Typography
 *
 * Limit mixins as much as possible to reduce global CSS size.
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Display X-Large
 * ------------------------------------------------------------------------- */

@define-mixin t-display-x-large {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-80);
	line-height: 1.1;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Display Large
 * ------------------------------------------------------------------------- */

@define-mixin t-display-large {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-70);
	line-height: 1.12;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Display Medium
 * ------------------------------------------------------------------------- */

@define-mixin t-display-medium {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-60);
	line-height: 1.15;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Display Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-small {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-50);
	line-height: 1.2;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Display X-Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-x-small {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-40);
	line-height: 1.25;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Display XX-Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-xx-small {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-30);
	line-height: 1.4;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Body Large
 * ------------------------------------------------------------------------- */

@define-mixin t-body-large {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-30);
	line-height: 1.4;
	font-weight: var(--font-weight-regular);
}

/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

@define-mixin t-body {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-20);
	line-height: 1.5;
	font-weight: var(--font-weight-regular);
}

/* -------------------------------------------------------------------------
 * Body Small
 * ------------------------------------------------------------------------- */

@define-mixin t-body-small {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-10);
	line-height: 1.6;
	font-weight: var(--font-weight-regular);
}

/* -------------------------------------------------------------------------
 * Overline
 * ------------------------------------------------------------------------- */

@define-mixin t-overline {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-20);
	line-height: 1.6;
	font-weight: var(--font-weight-bold);
}

/* -------------------------------------------------------------------------
 * Category
 * Categories normally link, so also remove text decoration
 * ------------------------------------------------------------------------- */

@define-mixin t-category-hover-focus {

	@mixin t-transparent-underline-hover;
	color: var(--t-category-hover-color);
}

@define-mixin t-category {

	@mixin t-transparent-underline;
	color: var(--t-category-color);
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-10);
	line-height: 1.6;
	font-weight: var(--font-weight-regular);

	/* target links for the hover/focus effect */
	&:is(a) {

		@media (--has-hover) {

			&:hover {

				@mixin t-category-hover-focus;
			}
		}

		&:focus:not(:focus-visible) {

			@mixin t-category-hover-focus;
		}

		&:focus-visible {

			@mixin focus-visible;
		}
	}
}

/* -------------------------------------------------------------------------
 * Caption
 * Defined in theme.json but used in other places (post permalink block)
 * ------------------------------------------------------------------------- */

@define-mixin t-caption {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-10);
	line-height: 1.6;
	font-weight: var(--font-weight-regular);
}

/* -------------------------------------------------------------------------
 * Tag
 * ------------------------------------------------------------------------- */

@define-mixin t-tag-hover-focus {
	background-color: var(--t-tag-hover-background-color);
	color: var(--t-tag-hover-color);
	text-decoration: none !important; /* override original state */
}

@define-mixin t-tag {
	display: inline-flex;
	align-items: center;
	padding: 4px 16px;
	background-color: var(--t-tag-background-color);
	border-radius: var(--border-radius-full);
	color: var(--t-tag-color);
	text-decoration: none !important; /* override block editor default */
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-10);
	line-height: 1.6;
	transition: var(--transition);

	/* target links for the hover/focus effect */
	&:is(a) {

		@media (--has-hover) {

			&:hover {

				@mixin t-tag-hover-focus;
			}
		}

		&:focus:not(:focus-visible) {

			@mixin t-tag-hover-focus;
		}

		&:focus-visible {

			@mixin focus-visible;
		}
	}
}

/* -------------------------------------------------------------------------
 * Transparent Underline
 * ------------------------------------------------------------------------- */

@define-mixin t-transparent-underline {
	text-decoration-line: underline;
	text-decoration-thickness: from-font;
	text-decoration-color: transparent;
	text-underline-offset: 0.15em;
	transition: var(--transition);
}

@define-mixin t-transparent-underline-hover {
	text-decoration-color: currentcolor;
}

/* -------------------------------------------------------------------------
 * Animated Underline
 * ------------------------------------------------------------------------- */

@define-mixin t-animated-underline {
	display: inline;
	background-image: linear-gradient(currentcolor, currentcolor);
	background-size: 0 0.05em;
	background-repeat: no-repeat;
	background-position: 0 100%;
	transition: background-size 0.3s;
	text-decoration: none !important; /* override block editor default */
}

@define-mixin t-animated-underline-hover {
	background-size: 100% 0.05em;
}
