/* -------------------------------------------------------------------------
 *
 * Mixins: Typography
 *
 * Limit mixins as much as possible to reduce global CSS size.
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Display X-Large
 * ------------------------------------------------------------------------- */

@define-mixin t-display-x-large {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--80);
	line-height: 1.1;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Display Large
 * ------------------------------------------------------------------------- */

@define-mixin t-display-large {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--70);
	line-height: 1.12;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Display Medium
 * ------------------------------------------------------------------------- */

@define-mixin t-display-medium {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--60);
	line-height: 1.15;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Display Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-small {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--50);
	line-height: 1.2;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Display X-Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-x-small {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--40);
	line-height: 1.25;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Display XX-Small
 * ------------------------------------------------------------------------- */

@define-mixin t-display-xx-small {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--30);
	line-height: 1.4;
	font-weight: 700;
}

/* -------------------------------------------------------------------------
 * Body Large
 * ------------------------------------------------------------------------- */

@define-mixin t-body-large {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--30);
	line-height: 1.4;
	font-weight: 400;
}

/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

@define-mixin t-body {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--20);
	line-height: 1.5;
	font-weight: 400;
}

/* -------------------------------------------------------------------------
 * Body Small
 * ------------------------------------------------------------------------- */

@define-mixin t-body-small {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--10);
	line-height: 1.6;
	font-weight: 400;
}
