/* -------------------------------------------------------------------------
 *
 * Utility Classes: Typography
 *
 * ------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * Display X-Large
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-x-large) {

	@mixin t-display-x-large;
}

/* -------------------------------------------------------------------------
 * Display Large
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-large) {

	@mixin t-display-large;
}

/* -------------------------------------------------------------------------
 * Display Medium
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-medium) {

	@mixin t-display-medium;
}

/* -------------------------------------------------------------------------
 * Display Small
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-small) {

	@mixin t-display-small;
}

/* -------------------------------------------------------------------------
 * Display X-Small
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-x-small) {

	@mixin t-display-x-small;
}

/* -------------------------------------------------------------------------
 * Display XX-Small
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-display-xx-small) {

	@mixin t-display-xx-small;
}

/* -------------------------------------------------------------------------
 * Body Large
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-body-large) {

	@mixin t-body-large;
}

/* -------------------------------------------------------------------------
 * Body
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-body) {

	@mixin t-body;
}

/* -------------------------------------------------------------------------
 * Body Small
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-body-small) {

	@mixin t-body-small;
}

/* -------------------------------------------------------------------------
 * Overline
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-overline) {

	@mixin t-overline;
}

/* -------------------------------------------------------------------------
 * Category
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-category) {

	@mixin t-category;
}

/* -------------------------------------------------------------------------
 * Caption
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-caption) {

	@mixin t-caption;
}


/* -------------------------------------------------------------------------
 * Tag
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-tag) {

	@mixin t-tag;
}

/* -------------------------------------------------------------------------
 * Transparent Underline
 * ------------------------------------------------------------------------- */

:root :where(*):is(.t-transparent-underline) {

	@mixin t-transparent-underline;
}
