/* -------------------------------------------------------------------------
 *
 * Typography: Anchors
 *
 * ------------------------------------------------------------------------- */

a {

	:where(.wp-site-blocks) &:not(.wp-element-button):focus-visible {

		@mixin focus-visible-inline-text;
	}

	/* -------------------------------------------------------------------------
	 * Anchor: Inline Links
	 *
	 * Note: Not in theme.json as the selector needs to be more specific
	 * ------------------------------------------------------------------------- */

	:where(.wp-site-blocks) :where(p, li) &,
	.editor-styles-wrapper :where(p, li) & {

		@mixin inline-text-link;
	}
}
