/* -------------------------------------------------------------------------
 *
 * Typography: Blockquote
 *
 * ------------------------------------------------------------------------- */

:where(.wp-site-blocks) blockquote,
.editor-styles-wrapper blockquote {

	/* Override paragraph block's theme.json default styles */
	& p {
		font: inherit;
	}
}
