/* -------------------------------------------------------------------------
 *
 * Typography: Anchors
 *
 * ------------------------------------------------------------------------- */

a {

	/* ----------------------------------------------------------------------
	 * Anchor: Inline Links
	 * ---------------------------------------------------------------------- */

	.editor-styles-wrapper :is(p, li) & {
		@mixin inline-text-link;
	}
}
