/* -----------------------------------------------------------------------------
 *
 * Mixins: Icons
 *
 * Limit mixins as much as possible to reduce global CSS size.
 *
 * ----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 * SVG Icon
 * ------------------------------------------------------------------------- */

@define-mixin svg-icon {
	background-size: contain;
	background-repeat: no-repeat;
}
