/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tabs - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--vertical-tabs-border-color: var(--color-black-20);
	--vertical-tabs-border-selected-color: var(--color-blue);
	--vertical-tabs-title-selected-color: var(--color-blue);
}

:--dark-themes {
	--vertical-tabs-border-color: var(--color-white-20);
	--vertical-tabs-border-selected-color: var(--color-white);
	--vertical-tabs-title-selected-color: var(--color-white);
}
