/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tabs - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

/* always show hidden content in editor (visibility controlled by block) */
.wp-block-tribe-vertical-tabs__tab-hidden {
	display: block !important;
}

/* position "add tab" button */
.wp-block-tribe-vertical-tabs__editor-add-tab {
	margin-left: calc(var(--spacer-30) + 3px);
	margin-top: var(--spacer-30);
}

.wp-block-tribe-vertical-tabs__buttons {

	/* handle fill on "link url" svg */
	svg {
		fill: var(--color-black);
	}
}
