/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tabs - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--grid-gutter);

	@media (--mq-wp-small-max) {
		grid-template-columns: 1fr;
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tabs__tab {
	cursor: pointer;
	padding: var(--spacer-30);
	background-color: var(--color-light-gray);
	border-radius: var(--border-radius-xl);

	&:focus-visible {

		@mixin focus-visible;
	}

	/* add some margin to the top of subsequent tabs */
	+ .wp-block-tribe-vertical-tabs__tab {
		margin-top: var(--spacer-20);
	}

	/* give tab content some space on mobile */
	.wp-block-tribe-vertical-tab {
		margin-top: var(--spacer-30);
	}

	.is-style-light-gray &,
	.is-style-dark & {
		background-color: var(--color-white);
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Hidden Content
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tabs__tab-hidden {
	display: none;

	.wp-block-tribe-vertical-tabs__tab[aria-selected="true"] & {
		display: block;
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Content (Description)
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tabs__tab-content {

	@media (--mq-wp-small-max) {
		display: none;
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Buttons
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tabs__buttons {
	margin-top: var(--spacer-30);
}
