/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tabs - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.b-vertical-tabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--grid-gutter);

	@media (--mq-wp-small-max) {
		grid-template-columns: 1fr;
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab
 * ------------------------------------------------------------------------- */

.b-vertical-tabs__tab {
	cursor: pointer;
	padding: var(--spacer-40);
	border-left: 3px solid var(--color-neutral-30);

	&[aria-selected="true"],
	&.editor-is-selected{
		border-color: var(--color-blue);
	}

	.is-style-dark & {
		border-left-color: var(--color-neutral-70);

		&[aria-selected="true"],
		&.editor-is-selected {
			border-color: var(--color-white);
		}
	}

	&:focus-visible {

		@mixin focus-visible;
	}

	/* give tab content some space on mobile */
	.wp-block-tribe-vertical-tab {
		margin-top: var(--spacer-30);
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Hidden Content
 * ------------------------------------------------------------------------- */

.b-vertical-tabs__tab-hidden {
	display: none;

	.b-vertical-tabs__tab[aria-selected="true"] & {
		display: block;
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Content (Description)
 * ------------------------------------------------------------------------- */

.b-vertical-tabs__tab-title {

	.b-vertical-tabs__tab[aria-selected="true"] & {
		color: var(--color-blue);
	}

	.is-style-dark & {

		.b-vertical-tabs__tab[aria-selected="true"] & {
			color: var(--color-white);
		}
	}
}

/* -------------------------------------------------------------------------
 * Vertical Tabs - Tab Content (Description)
 * ------------------------------------------------------------------------- */

.b-vertical-tabs__tab-content {

	@media (--mq-wp-small-max) {
		display: none;
	}
}
