/**
 * Styles specific to this block
 */

.wp-block-table {
	margin-top: 2rem;
	margin-bottom: 2rem;

	& th {
		border-top: 0;
		padding-top: 0;
		text-align: left;
	}

	& tfoot td {
		border-bottom: 0;
		padding-bottom: 0;
	}

	& th,
	& td {
		border-left: 0;
		border-right: 0;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}
