/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tab - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tab[hidden],
.wp-block-tribe-vertical-tab:not(.active-tab) {
	display: none;
}
