/* -------------------------------------------------------------------------
 *
 * Block - Vertical Tab - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-vertical-tab {

	/* empty */
}
