/* -----------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * NOTE: WordPress outputs their generated CSS properties on the body element.
 * To associate color properties w/ WP presets, and to allow style overrides
 * in the FSE Site Editor, CSS properties must be set on the body element.
 *
 * ----------------------------------------------------------------------------- */

body {
	/* -----------------------------------------------------------------------------
	 * Brand Colors
	 * ----------------------------------------------------------------------------- */

	--color-brand-primary: var(--wp--preset--color--brand-primary);

	/* -----------------------------------------------------------------------------
	 * Brand: Secondary
	 * ----------------------------------------------------------------------------- */

	--color-brand-secondary: var(--wp--preset--color--brand-secondary);

	/* -----------------------------------------------------------------------------
	 * Neutral: Grey
	 * ----------------------------------------------------------------------------- */

	--color-neutral-10: #f5f5f5;
	--color-neutral-20: #e8e8e8;
	--color-neutral-30: #d1d1d1;
	--color-neutral-40: #a3a3a3;
	--color-neutral-50: #8c8c8c;
	--color-neutral-60: #747474;
	--color-neutral-70: #5d5d5d;
	--color-neutral-80: #464646;
	--color-neutral-90: #2f2f2f;

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: var(--wp--preset--color--white);

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: var(--wp--preset--color--black);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--wp--preset--color--foreground-contrast-light);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-neutral-40);

	/* -----------------------------------------------------------------------------
	 * Semantic
	 * ----------------------------------------------------------------------------- */

	--color-alert-positive: #84bd00;
	--color-alert-negative: #df3a3a;
	--color-alert-warning: #f1c400;

	/* -----------------------------------------------------------------------------
	 * Social
	 * ----------------------------------------------------------------------------- */

	--color-facebook: #3b5998;
	--color-linkedin: #0077b5;
	--color-outlook: #0072c6;
	--color-pinterest: #bd081c;
	--color-twitter: #0084b4;

	/* -----------------------------------------------------------------------------
	 * Box Shadows
	 * ----------------------------------------------------------------------------- */

	--box-shadow-natural: var(--wp--preset--shadow--natural);
	--box-shadow-deep: var(--wp--preset--shadow--deep);
}
