/* -----------------------------------------------------------------------
 * Terms Block - Empty Terms List
 * ----------------------------------------------------------------------- */

.wp-block-tribe-terms__empty-msg {

	/* style pills appropriately */
	.is-style-pills & {

		@mixin t-tag;
	}
}
