/* -------------------------------------------------------------------------
 *
 * Block - Terms - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------
 * Terms Block - Empty Terms List
 * ----------------------------------------------------------------------- */

.wp-block-tribe-terms__empty-msg {

	/* style pills appropriately */
	.is-style-pills & {

		@mixin t-tag;
	}
}

/* -----------------------------------------------------------------------
 * Terms Block - Terms Link (disable pointer events in editor)
 * ----------------------------------------------------------------------- */

.wp-block-tribe-terms__link {
	pointer-events: none;
}
