/**
 * Styles specific to this block
 */

/**
 * Hide default "X" icon in webkit browsers for search inputs
 */
.wp-block-search__input::-webkit-search-decoration,
.wp-block-search__input::-webkit-search-cancel-button,
.wp-block-search__input::-webkit-search-results-button,
.wp-block-search__input::-webkit-search-results-decoration {
	display: none;
}
