/**
 * Styles specific to this block
 */

.wp-block-post-author {
	align-items: center;

	.wp-block-post-author__avatar {
		margin-right:  var(--spacer-30);

		img {
			border-radius: 50%;
		}
	}

	p.wp-block-post-author__name {
		font-weight: var(--font-weight-bold);
		margin-top: 0;
	}

	.wp-block-post-author__bio {
		font-size: var(--font-size-10);
		margin-top: var(--spacer-10);
	}
}
