.icon {
  color: currentColor;

  @include hover-state {
    color: $link-hover-color;
  }

  &__social {
    max-width: 4rem;
    max-height: 4rem;

    @include media-breakpoint-up(md) {
      max-width: 4.5rem;
      max-height: 4.5rem;
    }
  }
}
