* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0 none;
    text-decoration: none;
    word-break: break-word;
  }
}

::-ms-clear,
::-ms-expand {
  display: none;
}

::selection {
  background-color: rgba($color-primary, 0.2);
}

html {
  min-height: 100%;
  font-size: $base-rem;
  opacity: 1;
}

body {
  min-height: 100%;
  font-size: $font-size-base;
}

body,
.dialog-off-canvas-main-canvas,
.page {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
}

figure {
  margin: 0;
}

iframe,
img,
svg {
  max-width: 100%;
  height: auto;
}

img:not([src]) {
  visibility: hidden;
}

a:link,
input,
button,
select {
  // stylelint-disable-next-line
  &:focus {
    outline: 0;
  }

  @include focus-state;
}
