body {
	font-family: var(--wp--preset--font-family--segoe-ui);
	font-size: var(--wp--preset--font-size--base);

	@include media-breakpoint-up(md) {
		line-height: 1.35;
	}
}

h1,
.h1 {
	font-size: var(--wp--preset--font-size--display-x-large);
	margin-bottom: 1em;
}

h2,
.h2 {
	font-size: var(--wp--preset--font-size--display-large);
	margin-bottom: 1em;
}

h3,
.h3 {
	font-size: var(--wp--preset--font-size--display);
	margin-bottom: 1em;
}

h4,
.h4 {
	font-size: var(--wp--preset--font-size--display-small);
	margin-bottom: 1em;
}

h5,
.h5 {
	font-size: var(--wp--preset--font-size--display-x-small);
	margin-bottom: 1em;
}

h6,
.h6 {
	font-size: var(--wp--preset--font-size--display-xx-small);
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

a {
	@include link;
}

blockquote,
.blockquote {
	padding: 4rem 2rem;
	font-family: $font-family-cambria;

	@include media-breakpoint-up(md) {
		padding: 6rem 6rem 4rem;
	}
}

.blockquote {

	&__author {
		font-size: var(--wp--preset--font-size--display-x-small);

		@include media-breakpoint-up(md) {
			font-size: var(--wp--preset--font-size--display-small)
		}
	}
}
