:root {
	--pagination-link-color: var(--color-black);
	--pagination-link-hover-color: var(--color-black);

	--pagination-numbers-size: 40px;
	--pagination-numbers-current-background-color: var(--color-blue);
	--pagination-numbers-current-color: var(--color-white);
	--pagination-numbers-hover-background-color: var(--color-neutral-10);
	--pagination-numbers-hover-color: var(--color-white);

	--pagination-prev-next-icon-color: var(--color-black);
	--pagination-prev-next-icon-hover-color: var(--color-blue);
	--pagination-prev-next-hover-color: var(--color-blue);
}

:--dark-themes {
	--pagination-link-color: var(--color-white);
	--pagination-link-hover-color: var(--color-white);

	--pagination-numbers-current-background-color: var(--color-white);
	--pagination-numbers-current-color: var(--color-black);
	--pagination-numbers-hover-background-color: var(--color-white);
	--pagination-numbers-hover-color: var(--color-black);

	--pagination-prev-next-icon-color: var(--color-white);
	--pagination-prev-next-icon-hover-color: var(--color-neutral-10);
	--pagination-prev-next-hover-color: var(--color-neutral-10);
}

:--brand-theme {
	--pagination-numbers-current-background-color: var(--color-white);
	--pagination-numbers-current-color: var(--color-blue);
	--pagination-numbers-hover-background-color: var(--color-white);
	--pagination-numbers-hover-color: var(--color-blue);
}
