/* -------------------------------------------------------------------------
 *
 * Block - Inline Notice - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

section.wp-block-tribe-inline-notice {
	border: 1px dotted #f00;
}
