/**
 * Styles specific to this block
 */

.wp-block-quote {

	/* typography settings for the paragraph within the quote
	   block don't seem to be working, for now, set them here */
	> p {
		font-size: var(--font-size-30);
		font-weight: var(--font-weight-bold);
		line-height: 1.4;
	}
}
