/* -----------------------------------------------------------------------------
 *
 * Utility Classes: Color
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Foreground Colors
 *
 * ----------------------------------------------------------------------------- */

.is-style-primary {
	color: var(--color-brand-primary);
}

.is-style-secondary {
	color: var(--color-brand-secondary);
}

.is-style-black {
	color: var(--color-black);
}
