/* -------------------------------------------------------------------------
 *
 * Color Utilities
 *
 * ------------------------------------------------------------------------- */

.is-color-text-secondary {
	color: var(--theme--color--secondary);
}
