/* -------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * NOTE: WordPress outputs their generated CSS properties on the body element.
 * To associate color properties w/ WP presets, and to allow style overrides
 * in the FSE Site Editor, CSS properties must be set on the body element.
 *
 * ------------------------------------------------------------------------- */

body {

	/* -----------------------------------------------------------------------
	 * Brand Colors:
	 * When assigning brand colors, please use color names rather than primary
	 * or secondary, etc.
	 * Color Naming Site: https://chir.ag/projects/name-that-color/
	 * ----------------------------------------------------------------------- */

	--color-royal-blue: var(--wp--preset--color--royal-blue);
	--color-jacksons-purple: var(--wp--preset--color--jacksons-purple);

	/* -----------------------------------------------------------------------
	 * Neutral: Grey
	 * ----------------------------------------------------------------------- */

	--color-neutral-10: var(--wp--preset--color--neutral-10);
	--color-neutral-20: var(--wp--preset--color--neutral-20);
	--color-neutral-30: var(--wp--preset--color--neutral-30);
	--color-neutral-40: var(--wp--preset--color--neutral-40);
	--color-neutral-50: var(--wp--preset--color--neutral-50);
	--color-neutral-60: var(--wp--preset--color--neutral-60);
	--color-neutral-70: var(--wp--preset--color--neutral-70);
	--color-neutral-80: var(--wp--preset--color--neutral-80);
	--color-neutral-90: var(--wp--preset--color--neutral-90);

	/* -----------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------- */

	--color-white: var(--wp--preset--color--white);

	/* -----------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------- */

	--color-black: var(--wp--preset--color--black);

	/* -----------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------- */

	--color-text: var(--wp--preset--color--base-black);

	/* -----------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------- */

	--color-border: var(--wp--preset--color--neutral-40);

	/* -----------------------------------------------------------------------
	 * Semantic
	 * ----------------------------------------------------------------------- */

	--color-alert-success: var(--wp--preset--color--success);
	--color-alert-error: var(--wp--preset--color--error);
	--color-alert-warning: var(--wp--preset--color--warning);

	/* -----------------------------------------------------------------------
	 * Social
	 * ----------------------------------------------------------------------- */

	--color-facebook: #3b5998;
	--color-linkedin: #0077b5;
	--color-outlook: #0072c6;
	--color-pinterest: #bd081c;
	--color-twitter: #0084b4;

	/* -----------------------------------------------------------------------
	 * Box Shadows
	 * ----------------------------------------------------------------------- */

	--box-shadow-default: var(--wp--preset--shadow--default);
	--box-shadow-hover: var(--wp--preset--shadow--hover);
}
