/* -------------------------------------------------------------------------
 *
 * Variables: Color
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -----------------------------------------------------------------------
	 * Brand Colors:
	 * When assigning brand colors, please use color names rather than primary
	 * or secondary, etc.
	 * Color Naming Site: https://chir.ag/projects/name-that-color/
	 * ----------------------------------------------------------------------- */

	--color-blue: var(--wp--preset--color--blue, #3050e5);
	--color-dark-blue: #2238a0;

	/* -----------------------------------------------------------------------
	 * Neutral: Grey
	 * ----------------------------------------------------------------------- */

	--color-neutral-10: var(--wp--preset--color--neutral-10, #f5f5f5);
	--color-neutral-20: #e8e8e8;
	--color-neutral-30: #d1d1d1;
	--color-neutral-40: #a3a3a3;
	--color-neutral-50: var(--wp--preset--color--neutral-50, #767676);
	--color-neutral-60: #5d5d5d;
	--color-neutral-70: #464646;
	--color-neutral-80: #2f2f2f;
	--color-neutral-90: #1f1f1f;

	/* -----------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------- */

	--color-white: var(--wp--preset--color--base-white, #fff);

	/* -----------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------- */

	--color-black: var(--wp--preset--color--base-black, #000);

	/* -----------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------- */

	--color-text: var(--color-black);

	/* -----------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------- */

	--color-border: var(--color-neutral-40);

	/* -----------------------------------------------------------------------
	 * Selection Highlight Color
	 * Use https://www.fffuel.co/cccolor/ to generate a hexa value based on
	 * the RGBA value from Figma
	 * ----------------------------------------------------------------------- */

	--color-selection-highlight: #3050e533;

	/* -----------------------------------------------------------------------
	 * Semantic
	 * ----------------------------------------------------------------------- */

	--color-alert-success: #84bd00;
	--color-alert-error: #df3a3a;
	--color-alert-warning: #f1c400;

	/* -----------------------------------------------------------------------
	 * Box Shadows
	 * ----------------------------------------------------------------------- */

	--box-shadow-10: var(--wp--preset--shadow--10);
	--box-shadow-20: var(--wp--preset--shadow--20);
	--box-shadow-30: var(--wp--preset--shadow--30);
	--box-shadow-40: var(--wp--preset--shadow--40);
	--box-shadow-50: var(--wp--preset--shadow--50);
	--box-shadow-60: var(--wp--preset--shadow--60);
}
