/* -------------------------------------------------------------------------
 *
 * Templates: Search
 *
 * ------------------------------------------------------------------------- */

/* ported from query results count block (now using block bindings) */
.search-no-results .tribe-query-results-count {
	display: none;
}
