/* -----------------------------------------------------------------------------
 *
 * Variables
 *
 * This file is just a clearing-house.
 * Make partials (start with an underscore) elsewhere for actual code.
 *
 * ----------------------------------------------------------------------------- */

/* Colors */
@import "global/color/_variables.pcss";

/* Custom Selectors */
@import "global/custom-selectors/_variables.pcss";

/* Media Queries */
@import "global/media-queries/_variables.pcss";

/* Typography */
@import "global/typography/_variables.pcss";
