/* -------------------------------------------------------------------------
 *
 * Block - Outermost Social Sharing - Mixins
 *
 * ------------------------------------------------------------------------- */

@define-mixin swiper-navigation-hover-focus {
	border-width: 2px;
	color: var(--swiper-navigation-hover-color);
}
