$color-primary: var(--wp--preset--color--m-12-light-grey);
$color-primary-light: var(--wp--preset--color--m-12-primary-light);
$color-secondary: var(--wp--preset--color--m-12-secondary);

$color-green: var(--wp--preset--color--m-12-green);

$color-white: var(--wp--preset--color--m-12-white);
$color-grey: var(--wp--preset--color--m-12-grey);
$color-grey-light: var(--wp--preset--color--m-12-light-grey);
$color-black: var(--wp--preset--color--m-12-black);

$body-bg: $color-white;
$body-color: $color-black;
$border-color: $color-grey;
$border: $border-width solid $border-color;
