$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 420px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$container-max-widths: (
  xxs: 767px,
  md: 1185px,
  xxl: 1440px,
);

$grid-gutter-widths: (
  xxs: $spacer,
  xs: $spacer * 1.5,
  md: $spacer * 3,
);

$grid-container-gutter-widths: (
  xxs: $spacer * 2,
  xs: $spacer * 3,
  md: $spacer * 6,
);
