$font-family-sans-serif: var(--wp--preset--font-family--system-fonts);
$font-family-base: var(--wp--preset--font-family--segoe-ui);
$font-family-cambria: var(--wp--preset--font-family--cambria);
$font-family-headings: $font-family-cambria;

$font-size-base: 1.6rem;
$line-height-base: 1.5;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$large-number-font-size: 5.4rem;
$large-number-font-size-md: 8rem;

$button-font-size: $font-size-base;
$button-font-size-md: 2rem;

$transparent-button-font-size: $font-size-base;
$transparent-button-line-height: 2.5rem;
$transparent-button-font-size-md: 1.8rem;
$transparent-button-line-height-md: 2.2rem;

$mark-padding: 0.4rem;
$mark-bg: rgba($color-primary-light, 0.1);
