/* -------------------------------------------------------------------------
 *
 * Block - Image Overlay Card - Mixins
 *
 * ------------------------------------------------------------------------- */

@define-mixin image-overlay-card-hover-focus {

	&::before {
		background-color: var(--card-image-overlay-hover-color);
	}

	.b-image-overlay-card__title {

		@mixin t-animated-underline-hover;
	}

	.a-btn-ghost {

		@mixin a-btn-hover-focus;
		@mixin a-btn-ghost-hover-focus;
	}
}
