/* -------------------------------------------------------------------------
 *
 * Block - Mega Navigation Menu - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-mega-nav-item {
	background-color: var(--color-white);

	.nav-menu__enhanced {
		position: relative !important;

		.site-header__navigation & {
			display: none !important;
		}
	}
}
