/* -------------------------------------------------------------------------
 *
 * Block - Mega Navigation Menu - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-mega-nav-item {
	background-color: var(--color-white);
	color: var(--color-text);

	.nav-menu__enhanced {

		@media (--mq-desktop) {
			position: absolute;
			left: 0;
			top: 100%;
			padding: 0 var(--spacer-50);
			z-index: 10;
		}
	}
}
