/* -----------------------------------------------------------------------------
 *
 * Variables: Typography
 *
 * NOTE: WordPress outputs their generated CSS properties on the body element.
 * To associate color properties w/ WP presets, and to allow style overrides
 * in the FSE Site Editor, CSS properties must be set on the body element.
 *
 * ----------------------------------------------------------------------------- */

body {
	/* -----------------------------------------------------------------------------
	 * Font Families
	 * ----------------------------------------------------------------------------- */

	--font-family-serif: serif;
	--font-family-sans-serif: var(--wp--preset--font-family--inter);

	/* -----------------------------------------------------------------------------
	 * Font Size Scale
	 * ----------------------------------------------------------------------------- */

	--font-size-90: var(--wp--preset--font-size--90);
	--font-size-80: var(--wp--preset--font-size--80);
	--font-size-70: var(--wp--preset--font-size--70);
	--font-size-60: var(--wp--preset--font-size--60);
	--font-size-50: var(--wp--preset--font-size--50);
	--font-size-40: var(--wp--preset--font-size--40);
	--font-size-30: var(--wp--preset--font-size--30);
	--font-size-20: var(--wp--preset--font-size--20);
	--font-size-10: var(--wp--preset--font-size--10);

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-normal: var(--wp--custom--font-weight--regular);
	--font-weight-bold: var(--wp--custom--font-weight--bold);
}
