/* -------------------------------------------------------------------------
 *
 * Block - Mega Navigation Menu - Styles - Editor Only
 *
 * ------------------------------------------------------------------------- */

.wp-block-tribe-mega-nav-standard-item {
	background-color: var(--color-white);

	.tribe-standard-menu-item__toggle {

		&::after {
			top: var(--spacer-10);
		}
	}

	.site-header__standard-menu-item-wrapper {
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		box-shadow: none;
		width: 100%;
		border-top: 1px solid var(--masthead-navigation-border-color);

		/* remove wrapper styles if this is an individual link item */
		&:only-child {
			border-top: 0;
			padding: 0;

			p {
				margin-top: 0;
			}
		}

		/* only show this element if there is no submenu toggle button */
		.site-header__utility-navigation &:not(:only-child) {
			display: none;
		}
	}
}
