/**
 * Styles specific to this block
 */

:root {
	--group-themed-default-padding: var(--spacer-30);
}

.wp-block-group {

	/* CASE: Has Transparent Background */
	&.has-transparent-background {
		background-color: transparent !important;
	}

	/**
	 * CASE: Ensures that full width blocks share the same global
	 * root padding for left a right. allows content to
	 */
	&.alignfull {
		padding: var(--group-themed-default-padding) var(--wp--style--root--padding-left);
	}
}
