name: Deploy Production

on:
  push:
    branches:
      - server/production

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      BUILD_FOLDER: ./build
      DEPLOY_FOLDER: ./deploy
      ENVIRONMENT: production
      DEPLOY_REPO: ${{ secrets.PROD_DEPLOY_REPO }}

    steps:

      # Get Build Repository
      - name: Check out build branch
        uses: actions/checkout@v4
        with:
          path: ${{ env.BUILD_FOLDER }}
          ref: ${{github.ref}}

      # Composer install
      - name: 'Composer install'
        uses: ./.github/actions/composer-install
        with:
          BUILD_FOLDER: ${{ env.BUILD_FOLDER }}
          COMPOSER_INSTALL_FLAGS: '--ignore-platform-reqs --optimize-autoloader --no-dev'
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OP_VAULT: ${{ secrets.OP_VAULT }}
          OP_ITEM: ${{ secrets.OP_ITEM }}

      # Set up node version
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version-file: "${{ env.BUILD_FOLDER }}/.nvmrc"
          cache: 'npm'
          check-latest: true

      # NPM Install and Build
      - name: NPM Install
        run: npm install

      - name: NPM Build
        run: npm run dist

      # Create local config for environment based settings
      - name: Create local config
        working-directory: ${{ env.BUILD_FOLDER }}
        run: |
          php -r "file_exists( 'local-config.php' ) || copy( 'local-config-sample.php', 'local-config.php' );"
          echo "define( 'WP_ENVIRONMENT_TYPE', ${{env.ENVIRONMENT}} );" >> local-config.php

      ##########
      ### DEPLOY: Use the WPE git deploy hook method. TLDR; rsync our repo on their repo and push.

      # Setup SSH key for deploy environment
      - name: HOST SCM SSH KEY
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{secrets.DEPLOY_PRIVATE_SSH_KEY}}

      # Get Build Repository and add wpengine to allowed hosts
      - name: HOST SCM
        run: |
          ssh-keyscan git.wpengine.com >> ~/.ssh/known_hosts
          git clone ${{env.DEPLOY_REPO}} ${{env.DEPLOY_FOLDER}}
          cd ${{env.DEPLOY_FOLDER}}
          git checkout main
          git config user.email "devops@tri.be"
          git config user.name "devops"

      # Rsync wordpress
      - name: Sync Build WP folder to Deploy directory
        run: |
          rsync -rpv --delete --exclude-from="${{env.BUILD_FOLDER}}/.deploy/deploy-exclude.txt" ${{env.BUILD_FOLDER}}/ ${{env.DEPLOY_FOLDER}}

      # Git push to WPE to trigger deploy
      - name: Git Push to Host SCM
        working-directory: ${{ env.DEPLOY_FOLDER }}
        run: |
          echo 'Deploying ${{ github.ref }} to ${{env.ENVIRONMENT}}'
          git add -Av
          git commit --allow-empty -m 'Deploying ${{ github.ref }} to ${{env.ENVIRONMENT}}'
          git push origin main
