name: 'Code Quality Checks: PHP CodeSniffer (PHPCS)'

on:
  workflow_call:
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN:
        required: true
        description: '1Password Service Account Token to use for populating composer auth.json'
      OP_VAULT:
        description: '1Password vault to use for populating composer auth.json'
        required: false
      OP_ITEM:
        description: '1Password item to use for populating composer auth.json'
        required: false

jobs:
  phpcs:
    name: phpcs
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Detect file changes'
        uses: dorny/paths-filter@v3
        id: changed-files
        with:
          list-files: shell
          filters: |
            phpcs:
              - added|modified: 'wp-content/plugins/core/**/*.php'
              - added|modified: 'wp-content/themes/core/**/*.php'
              - added|modified: 'wp-content/mu-plugins/**/*.php'
              - added|modified: 'phpcs.xml.dist'

      - name: 'Composer install'
        if: steps.changed-files.outputs.phpcs == 'true'
        uses: ./.github/actions/composer-install
        with:
          COMPOSER_INSTALL_FLAGS: '--optimize-autoloader'
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OP_VAULT: ${{ secrets.OP_VAULT }}
          OP_ITEM: ${{ secrets.OP_ITEM }}

      - name: 'Run PHPCS'
        if: steps.changed-files.outputs.phpcs == 'true'
        run: |
          composer phpcs
