name: 'Reusable Workflow: Dokku Deploy'
on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
        description: Dokku Original App Name
      branch:
        required: true
        type: string
        description: Branch to be deployed
      is_review_app:
        default: false
        required: false
        type: boolean
        description: Flag if this is a review app or not
      pr_number:
        required: false
        type: string
        description: Pull Request Number
      server:
        required: true
        type: string
        description: Server to deploy
    secrets:
      github_pat_token:
        required: true
      ssh_private_key:
        required: true
      slack_webhook:
        required: true
      OP_SERVICE_ACCOUNT_TOKEN:
        required: true
        description: '1Password service account token to use for populating composer auth.json'
      OP_VAULT:
        description: '1Password vault to use for populating composer auth.json'
        required: true
      OP_ITEM:
        description: '1Password item to use for populating composer auth.json'
        required: true

jobs:
  deploy_dokku:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.branch }}

      - name: Set common variables
        uses: moderntribe/actions/utils/common-variables@v1
        with:
          app_name: ${{ inputs.app_name }}
          base_branch: ${{ inputs.branch }}
          pr_number: ${{ inputs.pr_number }}

      - name: Setup SSH
        uses: moderntribe/actions/utils/ssh-agent@v1
        with:
          ssh_private_key: ${{ secrets.ssh_private_key }}
          server: ${{ inputs.server }}

      - name: Create local config
        run: |
          mv .deploy/config/local-config-dokku.php local-config.php

      - name: Setup node version
        uses: actions/setup-node@v4
        with:
          node-version-file: './.nvmrc'
          cache: 'npm'
          check-latest: true

      - name: NPM Install
        run: npm install

      - name: NPM Build
        run: npm run dist

      - name: 'Install 1Password CLI'
        uses: 1password/install-cli-action@v1

      - name: 'Create auth.json via 1Password CLI'
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OP_VAULT: ${{ secrets.OP_VAULT }}
          OP_ITEM: ${{ secrets.OP_ITEM }}
        run: op inject -i auth.template.json -o auth.json

      - name: Commit Files
        uses: moderntribe/actions/utils/commit-files@v1

      - name: Define app to deploy
        id: define_app
        run: |
          if [[ ${{ inputs.is_review_app }} == "true" ]]; then
            echo "deploy_app=${{ env.REVIEW_APP }}" >> $GITHUB_OUTPUT
          else
            echo "deploy_app=${{ inputs.app_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Deploy to ${{ steps.define_app.outputs.deploy_app }}
        uses: moderntribe/actions/deploy/gitdeploy@app-json
        with:
          git_url: "dokku@${{ inputs.server }}:${{ steps.define_app.outputs.deploy_app }}"
          branch: ${{ env.BRANCH }}

      - name: Slack Notification
        if: success()|| failure() || cancelled()
        uses: moderntribe/actions/utils/slack-message-deploy@v1
        with:
          branch: ${{ env.BRANCH }}
          environment: ${{ steps.define_app.outputs.deploy_app }}
          slack_webhook_url: ${{ secrets.slack_webhook }}
          app_url: "${{ steps.define_app.outputs.deploy_app }}.${{ inputs.server }}"
          gha_url: ${{ env.GHA_URL }}
          status: ${{ job.status }}
