/* -------------------------------------------------------------------------
 *
 * Variables: Spacing
 *
 * ------------------------------------------------------------------------- */

:root {

	/* -------------------------------------------------------------
	 * Spacing Scale
	 * ------------------------------------------------------------- */

	--spacer-10: var(--wp--preset--spacing--10);
	--spacer-20: var(--wp--preset--spacing--20);
	--spacer-30: var(--wp--preset--spacing--30);
	--spacer-40: var(--wp--preset--spacing--40);
	--spacer-50: var(--wp--preset--spacing--50);
	--spacer-60: var(--wp--preset--spacing--60);
	--spacer-70: var(--wp--preset--spacing--70);

	/* -------------------------------------------------------------
	 * Spacers (WP Admin Bar)
	 *
	 * WP's CSS custom property handles mobile/desktop height change
	 * If not set, we need to set to 0px in order for this property
	 * to properly be used in calculations - stylelint doesn't like
	 * the "px", so we disable linting for this line.
	 * ------------------------------------------------------------- */

	--spacer-wpadmin: var(--wp-admin--admin-bar--height, 0px); /* stylelint-disable-line */
}
