/**
 * Styles specific to this block
 */

.wp-block-list {

	li ~ li {
		margin-top: var(--spacer-30);
	}

	/* ----------------------------------------------------------------------
	 * CASE: Ordered List
	 * ---------------------------------------------------------------------- */

	ol& {
		padding-inline-start: 1.2rem;

		li {
			padding-inline-start: 10px;

			&::marker {
				font-weight: var(--font-weight-bold);
			}
		}
	}

	/* ----------------------------------------------------------------------
	 * CASE: Unordered List
	 * ---------------------------------------------------------------------- */

	ul& {
		padding-inline-start: 10px;

		li {
			padding-inline-start: 1.3rem;
			position: relative;

			&::marker {
				content: var(--icon-list-bullet);
				transform: translateX(10px);
			}
		}
	}
}
