/**
 * Styles specific to this block
 */

.wp-block-list {

	/* ----------------------------------------------------------------------
	 * CASE: Nested List Spacing
	 * ---------------------------------------------------------------------- */

	.wp-block-list {
		margin-top: var(--spacer-20);
	}

	/* ----------------------------------------------------------------------
	 * CASE: Sibling List Element Spacing
	 * ---------------------------------------------------------------------- */

	li ~ li {
		margin-top: var(--spacer-20);
	}

	/* ----------------------------------------------------------------------
	 * CASE: Ordered List
	 * ---------------------------------------------------------------------- */

	ol& {
		padding-inline-start: 1em;

		li {
			padding-inline-start: 10px;

			&::marker {
				font-weight: var(--font-weight-bold);
			}
		}
	}

	/* ----------------------------------------------------------------------
	 * CASE: Unordered List
	 * ---------------------------------------------------------------------- */

	ul& {
		padding-inline-start: 1em;

		li {
			padding-inline-start: 10px;
		}
	}

	/* ----------------------------------------------------------------------
	 * CASE: Unordered List - Block Styles
	 * ---------------------------------------------------------------------- */

	&.is-style-arrow,
	&.is-style-check {

		ul& {
			list-style-type: none;

			li {
				position: relative;

				&::before {
					content: '';
					display: block;
					width: 15px;
					height: 1.5em; /* this needs to match the line-height of the list item */
					position: absolute;
					top: 0;
					left: -1em;
					mask: var(--icon-list-arrow) no-repeat center;
					mask-size: contain;
					background-color: currentcolor;
				}
			}
		}
	}

	/* ----------------------------------------------------------------------
	 * CASE: Unordered List - Check Style
	 * ---------------------------------------------------------------------- */

	&.is-style-check {

		ul& {

			li::before {
				mask-image: var(--icon-list-check);
			}
		}
	}
}
