/* -------------------------------------------------------------------------
 *
 * Block - Horizontal Tabs - Variables
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--horizontal-tabs-border-color: var(--color-black-20);
	--horizontal-tabs-border-selected-color: var(--color-blue);
	--horizontal-tabs-title-color: var(--color-black);
	--horizontal-tabs-title-selected-color: var(--color-blue);
}

:--dark-themes {
	--horizontal-tabs-border-color: var(--color-white-20);
	--horizontal-tabs-border-selected-color: var(--color-white);
	--horizontal-tabs-title-color: var(--color-white);
	--horizontal-tabs-title-selected-color: var(--color-white);
}
