/* -------------------------------------------------------------------------
 *
 * Block - Horizontal Tabs - Styles - FE / Editor
 *
 * ------------------------------------------------------------------------- */

@import '_variables.pcss';

/* -------------------------------------------------------------------------
 * Horizontal Tabs - Navigation
 * ------------------------------------------------------------------------- */

.wp-block-tribe-horizontal-tabs__tab-nav {
	overflow-x: auto;
	padding-bottom: var(--spacer-20);

	@media (--mq-tablet) {
		padding-bottom: 0;
	}
}

/* -------------------------------------------------------------------------
 * Horizontal Tabs - Tab List
 * ------------------------------------------------------------------------- */

.wp-block-tribe-horizontal-tabs__tab-list {
	display: inline-flex;
	align-items: stretch;
	justify-content: center;
	gap: var(--spacer-40);
	min-width: 100%;
	position: relative;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 3px solid var(--horizontal-tabs-border-color);
}

/* -------------------------------------------------------------------------
 * Horizontal Tabs - Tab Button
 * ------------------------------------------------------------------------- */

.wp-block-tribe-horizontal-tabs__tab-item-button {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 2;
	padding: var(--spacer-10) var(--spacer-20);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	white-space: nowrap;
	color: var(--horizontal-tabs-title-color);

	&::after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: transparent;
		transition: var(--transition);
	}

	&:hover,
	&:focus:not(:focus-visible),
	&[aria-selected="true"] {
		color: var(--horizontal-tabs-title-selected-color);

		&::after {
			width: 100%;
			background-color: var(--horizontal-tabs-border-selected-color);
		}
	}

	&:focus-visible {

		@mixin focus-visible;
	}
}
